.vscode
/venv/
2BA/Informatic/AI Project/__pycache__/transmitJSON.cpython-37.pyc
2BA/Informatic/AI Project/__pycache__/AI_Server.cpython-37.pyc
2BA/Informatic/AI Project/__pycache__/client.cpython-37.pyc
2BA/Informatic/AI Project/__pycache__/randomAI_server.cpython-37.pyc
2BA/Informatic/AI Project/__pycache__/server.cpython-37.pyc
2BA/Informatic/AI Project/ai/__pycache__/ai.cpython-37.pyc
2BA/Informatic/AI Project/ai/__pycache__/randomAI.cpython-37.pyc
2BA/Informatic/AI Project/__pycache__/subscribe.cpython-37.pyc
2BA/Informatic/AI Project/ai/__pycache__/map_pool.cpython-37.pyc
2BA/Informatic/AI Project/ai/__pycache__/__init__.cpython-37.pyc
2BA/Informatic/AI Project/ai/ai.py