.vscode
/venv/
2BA/Informatic/AI Project/__pycache__/transmitJSON.cpython-37.pyc
2BA/Informatic/AI Project/__pycache__/AI_Server.cpython-37.pyc
2BA/Informatic/AI Project/__pycache__/client.cpython-37.pyc
2BA/Informatic/AI Project/__pycache__/randomAI_server.cpython-37.pyc
2BA/Informatic/AI Project/__pycache__/server.cpython-37.pyc
